In [2]:
import pandas as pd

java = pd.read_csv('java_mb_KG.txt',names=['userid','itemid','behavior','timestamp'],sep='\t')
java

      userid  itemid  behavior   timestamp
0          1     305     watch  1406863244
1          1     172      done  1410874261
2          1      54      done  1410874265
3          1      54  duration  1410874275
4          1     314      done  1410913417
...      ...     ...       ...         ...
2489     183     294      done  1429083169
2490     183     294       tag  1429083255
2491     183     294  duration  1429083393
2492     183     357      done  1429084813
2493     183     357  duration  1429085601

[2494 rows x 4 columns]

In [12]:
java_count = java.groupby('userid').count().reset_index()[['userid','itemid']]
java_count['itemid'].describe()

count    183.000000
mean      13.628415
std       17.364029
min        4.000000
25%        4.000000
50%        6.000000
75%       17.000000
max      132.000000
Name: itemid, dtype: float64

In [13]:
net = pd.read_csv('net_mb_KG.txt',names=['userid','itemid','behavior','timestamp'],sep='\t')
net_count = net.groupby('userid').count().reset_index()[['userid','itemid']]
net_count['itemid'].describe()

count    246.000000
mean      14.617886
std       16.176587
min        4.000000
25%        4.000000
50%        7.000000
75%       20.000000
max      122.000000
Name: itemid, dtype: float64

In [16]:
os = pd.read_csv('os_mb_KG.txt',names=['userid','itemid','behavior','timestamp'],sep='\t')
os_count = os.groupby('userid').count().reset_index()[['userid','itemid']]
os_count['itemid'].describe()

count    305.000000
mean      15.409836
std       20.578937
min        4.000000
25%        4.000000
50%        7.000000
75%       18.000000
max      199.000000
Name: itemid, dtype: float64

In [20]:
c_class = pd.read_csv('/workspace/mdls_test/pytorch/RecBole/dataset/c_class/c_class.inter',header=0,sep='\t')
c_class_count = c_class.groupby('user_id:token').count().reset_index()[['user_id:token','item_id:token']]
c_class_count['item_id:token'].describe()

count    42586.000000
mean        34.263819
std         26.310418
min          1.000000
25%         15.000000
50%         30.000000
75%         46.000000
max        175.000000
Name: item_id:token, dtype: float64

In [21]:
computer = pd.read_csv('/workspace/mdls_test/pytorch/RecBole/dataset/computer/computer.inter',header=0,sep='\t')
computer_count = computer.groupby('user_id:token').count().reset_index()[['user_id:token','item_id:token']]
computer_count['item_id:token'].describe()

count    33463.000000
mean        20.569853
std         14.691086
min          1.000000
25%          9.000000
50%         15.000000
75%         29.000000
max        114.000000
Name: item_id:token, dtype: float64

In [22]:
data_sci = pd.read_csv('/workspace/mdls_test/pytorch/RecBole/dataset/data_science/data_science.inter',header=0,sep='\t')
data_sci_count = data_sci.groupby('user_id:token').count().reset_index()[['user_id:token','item_id:token']]
data_sci_count['item_id:token'].describe()

count    8741.000000
mean       14.903787
std        14.190676
min         1.000000
25%         3.000000
50%        10.000000
75%        25.000000
max        87.000000
Name: item_id:token, dtype: float64